$theme-color: #c77e48;
$theme-color-complement: #fff;
$theme-scolor: #60707f;
$theme-tcolor: #fde6a6;
$theme-cover: url("http://s5.picofile.com/file/8397276318/winter_protection.jpg");

@import "./base"
