$theme-color: #646e9c;
$theme-color-complement: #fff;
$theme-scolor: #93acc8;
$theme-tcolor: #d98947;
$theme-cover: url("http://s5.picofile.com/file/8397276300/winter_morning.jpg");

@import "./base"
