$theme-color: #f23f3c;
$theme-color-complement: #fff;
$theme-scolor: #79234a;
$theme-tcolor: #fdb041;
$theme-cover: url("http://s4.picofile.com/file/8397276334/winter_sunrise.jpg");

@import "./base"
