$theme-color: #0a0a0a;
$theme-color-complement: #fff;
$theme-scolor: #0a0a0a;
$theme-tcolor: #c5c5c5;
$theme-cover: url("http://s13.picofile.com/file/8397355918/taylor5.jpg");

@import "./base-light"
