$theme-color: #030503;
$theme-color-complement: #fffffd;
$theme-scolor: #030503;
$theme-tcolor: #e7c88b;
$theme-cover: url("http://s13.picofile.com/file/8397355892/taylor4.jpg");

@import "./base-light"
