$theme-color: #0f1225;
$theme-color-complement: #fff;
$theme-scolor: #0f1225;
$theme-tcolor: #953d73;
$theme-cover: url("http://s13.picofile.com/file/8397355800/taylor1.jpg");

@import "./base-light"
