$theme-color: #c31800;
$theme-color-complement: #fff;
$theme-scolor: #210803;
$theme-tcolor: #e99f19;
$theme-cover: url("http://s4.picofile.com/file/8397248584/sunlight_branch.jpg");

@import "./base"
