$theme-color: #c14f0c;
$theme-color-complement: #fff;
$theme-scolor: #302d07;
$theme-tcolor: #de9c16;
$theme-cover: url("http://s5.picofile.com/file/8397248892/to_the_forrest.jpg");

@import "./base"
