$theme-color: #601393;
$theme-color-complement: #fff;
$theme-scolor: #355320;
$theme-tcolor: #AD74E4;
$theme-cover: url("http://s5.picofile.com/file/8396905084/purple_flower.jpg");

@import "./base";
