$theme-color: #caa519;
$theme-color-complement: #fff;
$theme-scolor: #dbe9e9;
$theme-tcolor: #e9d526;
$theme-cover: url("http://s5.picofile.com/file/8397195792/multi_sunflower.jpg");

@import "./base"
