$theme-color: #cc7d1c;
$theme-color-complement: #fff;
$theme-scolor: #5da1de;
$theme-tcolor: #EDDD4F;
$theme-cover: url("http://s4.picofile.com/file/8397193526/single_sunflower.jpg");

@import "./base"
