$theme-color: #317605;
$theme-color-complement: #fff;
$theme-scolor: #232a04;
$theme-tcolor: #cdf26e;
$theme-cover: url("http://s5.picofile.com/file/8397199542/summer_forrest.jpg");

@import "./base"
